{{outlet}}
<h2>About Q&a</h2>

<p>The Question and answer website was created to explore the wonderful world of Ember.js.
   This project allows us to imagine traveling the world while simultaneously traversing
   the pathways of the Ember framework!</p>
